body{
  background-color: black;
}
.titulo{
  color: white;
  margin: auto;
  float: left;
  text-shadow: 2px 2px #02010a;
  padding-left: 10px;
}
.menu{
  float: right;
  color: white;
  padding: 30px 10px 10px 0px;
}
.titulo, .menu{
  margin: auto;
}
a{
  padding-right: 10px;
  color: white;
  font-size: 20px;
}
header{
  width: 80%;
  height: 100px;
  margin: auto;
  border-radius: 10px 10px 0px 0px;
  background-color:  #5b7989;
}
*{
  font-family: 'Dancing Script', cursive;
  margin: auto;
}
#img{
  display: flex;
  flex-flow: wrap row;
  text-align: center;
}
.imgcentral{
  width: 80%;
  background-color: #82c3a6;
}
.imgsegundaria{
  width: 40%;
  background-color:  #d5c75f;
}
.imgretrato{
  width: 40%;
  background-color: #d5c75f;
}
img{
  width: 90%;
  height: 90%;
  margin: 2%;
}
