body{
  background-color: black;
}
.titulo{
  color: white;
}
header{
  width: 80%;
  height: 100px;
  margin: auto;
  border-radius: 10px 10px 0px 0px;
  background-color:  #5b7989;
}
*{
  font-family: 'Dancing Script', cursive;
}
